function Smiley.happy 1
push argument 0
pop pointer 0
push constant 400
push constant 165
push constant 56
call Screen.drawCircle 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 400
push constant 170
push constant 35
call Screen.drawCircle 3
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 400
push constant 150
push constant 40
call Screen.drawCircle 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 377
push constant 145
push constant 7
call Screen.drawCircle 3
pop temp 0
push constant 423
push constant 145
push constant 7
call Screen.drawCircle 3
pop temp 0
push argument 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 355
push constant 100
push constant 445
push constant 120
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 357
push constant 100
push constant 443
push constant 118
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 370
push constant 90
push constant 355
push constant 100
call Screen.drawLine 4
pop temp 0
push constant 370
push constant 90
push constant 385
push constant 100
call Screen.drawLine 4
pop temp 0
push constant 400
push constant 90
push constant 385
push constant 100
call Screen.drawLine 4
pop temp 0
push constant 400
push constant 90
push constant 415
push constant 100
call Screen.drawLine 4
pop temp 0
push constant 430
push constant 90
push constant 415
push constant 100
call Screen.drawLine 4
pop temp 0
push constant 430
push constant 90
push constant 445
push constant 100
call Screen.drawLine 4
pop temp 0
push constant 370
push constant 89
push constant 355
push constant 99
call Screen.drawLine 4
pop temp 0
push constant 370
push constant 89
push constant 385
push constant 99
call Screen.drawLine 4
pop temp 0
push constant 400
push constant 89
push constant 385
push constant 99
call Screen.drawLine 4
pop temp 0
push constant 400
push constant 89
push constant 415
push constant 99
call Screen.drawLine 4
pop temp 0
push constant 430
push constant 89
push constant 415
push constant 99
call Screen.drawLine 4
pop temp 0
push constant 430
push constant 89
push constant 445
push constant 99
call Screen.drawLine 4
pop temp 0
label IF_FALSE0
push constant 0
return
function Smiley.sad 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 400
push constant 165
push constant 56
call Screen.drawCircle 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 400
push constant 185
push constant 25
call Screen.drawCircle 3
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 400
push constant 190
push constant 25
call Screen.drawCircle 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 377
push constant 145
push constant 7
call Screen.drawCircle 3
pop temp 0
push constant 423
push constant 145
push constant 7
call Screen.drawCircle 3
pop temp 0
push constant 0
return
function Smiley.angry 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 400
push constant 165
push constant 56
call Screen.drawCircle 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 400
push constant 185
push constant 25
call Screen.drawCircle 3
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 400
push constant 190
push constant 25
call Screen.drawCircle 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 375
push constant 120
push constant 390
push constant 130
call Screen.drawLine 4
pop temp 0
push constant 375
push constant 121
push constant 390
push constant 131
call Screen.drawLine 4
pop temp 0
push constant 375
push constant 122
push constant 390
push constant 132
call Screen.drawLine 4
pop temp 0
push constant 425
push constant 120
push constant 410
push constant 130
call Screen.drawLine 4
pop temp 0
push constant 425
push constant 121
push constant 410
push constant 131
call Screen.drawLine 4
pop temp 0
push constant 425
push constant 122
push constant 410
push constant 132
call Screen.drawLine 4
pop temp 0
push constant 377
push constant 145
push constant 7
call Screen.drawCircle 3
pop temp 0
push constant 423
push constant 145
push constant 7
call Screen.drawCircle 3
pop temp 0
push constant 0
return
